//colors

$main-color: #1db394;
$main-color-dark: #17917a;

$button-next: rgb(213, 166, 24);
$button-next-dark: rgb(205, 158, 24);

$button-disabled: rgba(98, 108, 105, 0.58);
$button-disabled-dark: rgba(82, 92, 89, 0.59);

$global-weight: 600;


//text


//buttons

//block text selection
.button-no-selection {
  user-select: none;
}