# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
deployAWS.sh


#hiding the unecessary scss related files
/src/Components/Footer/.sass-cache/
/src/Components/Footer/Footer.css
/src/Components/Footer/Footer.css.map

/src/Components/Layout/.sass-cache/
/src/Components/Layout/Layout.css
/src/Components/Layout/Layout.css.map

/src/Components/Layout/GameBackground/.sass-cache/
/src/Components/Layout/GameBackground/GameBackground.css
/src/Components/Layout/GameBackground/GameBackground.css.map

/src/Components/Layout/PlainScreen/.sass-cache/
/src/Components/Layout/PlainScreen/PlainScreen.css
/src/Components/Layout/PlainScreen/PlainScreen.css.map

/src/Components/MazeContainer/.sass-cache/
/src/Components/MazeContainer/MazeContainer.css
/src/Components/MazeContainer/MazeContainer.css.map

/src/Components/MazeContainer/Buttons/.sass-cache/

/src/Components/MazeContainer/Buttons/ControlButtons/.sass-cache/
/src/Components/MazeContainer/Buttons/ControlButtons/ControlButtons.css
/src/Components/MazeContainer/Buttons/ControlButtons/ControlButtons.css.map

/src/Components/MazeContainer/Buttons/GenericButton/.sass-cache/
/src/Components/MazeContainer/Buttons/GenericButton/GenericButton.css
/src/Components/MazeContainer/Buttons/GenericButton/GenericButton.css.map

/src/Components/MazeContainer/Buttons/LevelButton/.sass-cache/
/src/Components/MazeContainer/Buttons/LevelButton/LevelButton.css
/src/Components/MazeContainer/Buttons/LevelButton/LevelButton.css.map

/src/Components/MazeContainer/Cell/.sass-cache/
/src/Components/MazeContainer/Cell/Cell.css
/src/Components/MazeContainer/Cell/Cell.css.map

/src/Components/MazeContainer/FinishScreen/.sass-cache/
/src/Components/MazeContainer/FinishScreen/FinishScreen.css
/src/Components/MazeContainer/FinishScreen/FinishScreen.css.map

/src/Components/MazeContainer/LevelSelection/.sass-cache/
/src/Components/MazeContainer/LevelSelection/LevelSelection.css
/src/Components/MazeContainer/LevelSelection/LevelSelection.css.map

/src/Components/MazeContainer/LostScreen/.sass-cache/
/src/Components/MazeContainer/LostScreen/LostScreen.css
/src/Components/MazeContainer/LostScreen/LostScreen.css.map

/src/Components/MazeContainer/Rules/.sass-cache/
/src/Components/MazeContainer/Rules/Rules.css
/src/Components/MazeContainer/Rules/Rules.css.map

/src/global-scss/.sass-cache/
/src/global-scss/global-styles.css
/src/global-scss/global-styles.css.map

/src/.sass-cache/
/src/index.css
/src/index.css.map

