@import "../../../global scss/global-styles";

#plain-screen {
  position: relative;

  img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }

  //Text with the screen's name
  .screen-head {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
  }
}

