@import "../../assets/scss/global-styles";

#screen-header {
  margin: 2rem auto 1rem;
  padding-top: 1rem;
  position: relative;
  @media (min-width: 601px) {
    max-width: 600px;
  }

  #home-button {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 0.5rem;
    color: white;
    font-weight: $global-weight;
    font-size: 1.4rem;

    &:hover {
      cursor: pointer;
      color: $main-color-dark;
    }

  }
}

