#generic-button {
  display: inline-block;
  font-size: 2rem;
  background-color: #1db394;
  font-weight: 600;
  margin-right: 10px;
  margin-top: 20px;
  &:hover {
    background-color: #1fa787;
  }
}