/*adding bg images to the cells*/
.mazeRow div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat; }
  @media (min-width: 150px) {
    .mazeRow div {
      width: 10px;
      height: 10px; } }
  @media (min-width: 165px) {
    .mazeRow div {
      width: 11px;
      height: 11px; } }
  @media (min-width: 180px) {
    .mazeRow div {
      width: 12px;
      height: 12px; } }
  @media (min-width: 195px) {
    .mazeRow div {
      width: 13px;
      height: 13px; } }
  @media (min-width: 210px) {
    .mazeRow div {
      width: 14px;
      height: 14px; } }
  @media (min-width: 225px) {
    .mazeRow div {
      width: 15px;
      height: 15px; } }
  @media (min-width: 240px) {
    .mazeRow div {
      width: 16px;
      height: 16px; } }
  @media (min-width: 255px) {
    .mazeRow div {
      width: 17px;
      height: 17px; } }
  @media (min-width: 270px) {
    .mazeRow div {
      width: 18px;
      height: 18px; } }
  @media (min-width: 285px) {
    .mazeRow div {
      width: 19px;
      height: 19px; } }
  @media (min-width: 300px) {
    .mazeRow div {
      width: 20px;
      height: 20px; } }
  @media (min-width: 315px) {
    .mazeRow div {
      width: 21px;
      height: 21px; } }
  @media (min-width: 330px) {
    .mazeRow div {
      width: 22px;
      height: 22px; } }
  @media (min-width: 345px) {
    .mazeRow div {
      width: 23px;
      height: 23px; } }
  @media (min-width: 360px) {
    .mazeRow div {
      width: 24px;
      height: 24px; } }
  @media (min-width: 375px) {
    .mazeRow div {
      width: 25px;
      height: 25px; } }
  @media (min-width: 390px) {
    .mazeRow div {
      width: 26px;
      height: 26px; } }
  @media (min-width: 405px) {
    .mazeRow div {
      width: 27px;
      height: 27px; } }
  @media (min-width: 420px) {
    .mazeRow div {
      width: 28px;
      height: 28px; } }
  @media (min-width: 435px) {
    .mazeRow div {
      width: 29px;
      height: 29px; } }
  @media (min-width: 450px) {
    .mazeRow div {
      width: 30px;
      height: 30px; } }
  @media (min-width: 465px) {
    .mazeRow div {
      width: 31px;
      height: 31px; } }
  @media (min-width: 480px) {
    .mazeRow div {
      width: 32px;
      height: 32px; } }
  @media (min-width: 495px) {
    .mazeRow div {
      width: 33px;
      height: 33px; } }
  @media (min-width: 510px) {
    .mazeRow div {
      width: 34px;
      height: 34px; } }
  @media (min-width: 525px) {
    .mazeRow div {
      width: 35px;
      height: 35px; } }
  @media (min-width: 540px) {
    .mazeRow div {
      width: 36px;
      height: 36px; } }
  @media (min-width: 555px) {
    .mazeRow div {
      width: 37px;
      height: 37px; } }
  @media (min-width: 570px) {
    .mazeRow div {
      width: 38px;
      height: 38px; } }
  @media (min-width: 585px) {
    .mazeRow div {
      width: 39px;
      height: 39px; } }
  @media (min-width: 600px) {
    .mazeRow div {
      width: 40px;
      height: 40px; } }
@media (min-width: 150px) {
  .mazeRow {
    height: 10px; } }
@media (min-width: 165px) {
  .mazeRow {
    height: 11px; } }
@media (min-width: 180px) {
  .mazeRow {
    height: 12px; } }
@media (min-width: 195px) {
  .mazeRow {
    height: 13px; } }
@media (min-width: 210px) {
  .mazeRow {
    height: 14px; } }
@media (min-width: 225px) {
  .mazeRow {
    height: 15px; } }
@media (min-width: 240px) {
  .mazeRow {
    height: 16px; } }
@media (min-width: 255px) {
  .mazeRow {
    height: 17px; } }
@media (min-width: 270px) {
  .mazeRow {
    height: 18px; } }
@media (min-width: 285px) {
  .mazeRow {
    height: 19px; } }
@media (min-width: 300px) {
  .mazeRow {
    height: 20px; } }
@media (min-width: 315px) {
  .mazeRow {
    height: 21px; } }
@media (min-width: 330px) {
  .mazeRow {
    height: 22px; } }
@media (min-width: 345px) {
  .mazeRow {
    height: 23px; } }
@media (min-width: 360px) {
  .mazeRow {
    height: 24px; } }
@media (min-width: 375px) {
  .mazeRow {
    height: 25px; } }
@media (min-width: 390px) {
  .mazeRow {
    height: 26px; } }
@media (min-width: 405px) {
  .mazeRow {
    height: 27px; } }
@media (min-width: 420px) {
  .mazeRow {
    height: 28px; } }
@media (min-width: 435px) {
  .mazeRow {
    height: 29px; } }
@media (min-width: 450px) {
  .mazeRow {
    height: 30px; } }
@media (min-width: 465px) {
  .mazeRow {
    height: 31px; } }
@media (min-width: 480px) {
  .mazeRow {
    height: 32px; } }
@media (min-width: 495px) {
  .mazeRow {
    height: 33px; } }
@media (min-width: 510px) {
  .mazeRow {
    height: 34px; } }
@media (min-width: 525px) {
  .mazeRow {
    height: 35px; } }
@media (min-width: 540px) {
  .mazeRow {
    height: 36px; } }
@media (min-width: 555px) {
  .mazeRow {
    height: 37px; } }
@media (min-width: 570px) {
  .mazeRow {
    height: 38px; } }
@media (min-width: 585px) {
  .mazeRow {
    height: 39px; } }
@media (min-width: 600px) {
  .mazeRow {
    height: 40px; } }

.empty-field {
  background: url("../../../assets/images/game_cells/brickWall.png"); }

.path-field {
  background: url("../../../assets/images/game_cells/grassCenter.png"); }

.wall-field {
  background: url("../../../assets/images/game_cells/castleCenter.png"); }

.finish-field {
  background: url("../../../assets/images/game_cells/door_closedMid.png"); }

.path-field-player {
  background: url("../../../assets/images/game_cells/p1_walk01.png"), url("../../../assets/images/game_cells/grassCenter.png"); }

.path-field-key {
  background: url("../../../assets/images/game_cells/keyGreen.png"), url("../../../assets/images/game_cells/grassCenter.png"); }

.finish-field-player {
  background: url("../../../assets/images/game_cells/p1_walk01.png"), url("../../../assets/images/game_cells/door_closedMid.png"); }

/*# sourceMappingURL=Cell.css.map */
