/*adding bg images to the cells*/
.mazeRow div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat; }
  @media (min-width: 150px) {
    .mazeRow div {
      width: 10px;
      height: 10px; } }
  @media (min-width: 165px) {
    .mazeRow div {
      width: 11px;
      height: 11px; } }
  @media (min-width: 180px) {
    .mazeRow div {
      width: 12px;
      height: 12px; } }
  @media (min-width: 195px) {
    .mazeRow div {
      width: 13px;
      height: 13px; } }
  @media (min-width: 210px) {
    .mazeRow div {
      width: 14px;
      height: 14px; } }
  @media (min-width: 225px) {
    .mazeRow div {
      width: 15px;
      height: 15px; } }
  @media (min-width: 240px) {
    .mazeRow div {
      width: 16px;
      height: 16px; } }
  @media (min-width: 255px) {
    .mazeRow div {
      width: 17px;
      height: 17px; } }
  @media (min-width: 270px) {
    .mazeRow div {
      width: 18px;
      height: 18px; } }
  @media (min-width: 285px) {
    .mazeRow div {
      width: 19px;
      height: 19px; } }
  @media (min-width: 300px) {
    .mazeRow div {
      width: 20px;
      height: 20px; } }
  @media (min-width: 315px) {
    .mazeRow div {
      width: 21px;
      height: 21px; } }
  @media (min-width: 330px) {
    .mazeRow div {
      width: 22px;
      height: 22px; } }
  @media (min-width: 345px) {
    .mazeRow div {
      width: 23px;
      height: 23px; } }
  @media (min-width: 360px) {
    .mazeRow div {
      width: 24px;
      height: 24px; } }
  @media (min-width: 375px) {
    .mazeRow div {
      width: 25px;
      height: 25px; } }
@media (min-width: 150px) {
  .mazeRow {
    height: 10px; } }
@media (min-width: 165px) {
  .mazeRow {
    height: 11px; } }
@media (min-width: 180px) {
  .mazeRow {
    height: 12px; } }
@media (min-width: 195px) {
  .mazeRow {
    height: 13px; } }
@media (min-width: 210px) {
  .mazeRow {
    height: 14px; } }
@media (min-width: 225px) {
  .mazeRow {
    height: 15px; } }
@media (min-width: 240px) {
  .mazeRow {
    height: 16px; } }
@media (min-width: 255px) {
  .mazeRow {
    height: 17px; } }
@media (min-width: 270px) {
  .mazeRow {
    height: 18px; } }
@media (min-width: 285px) {
  .mazeRow {
    height: 19px; } }
@media (min-width: 300px) {
  .mazeRow {
    height: 20px; } }
@media (min-width: 315px) {
  .mazeRow {
    height: 21px; } }
@media (min-width: 330px) {
  .mazeRow {
    height: 22px; } }
@media (min-width: 345px) {
  .mazeRow {
    height: 23px; } }
@media (min-width: 360px) {
  .mazeRow {
    height: 24px; } }
@media (min-width: 375px) {
  .mazeRow {
    height: 25px; } }

.empty-field {
  background: url("../../../assets/images/game_cells/brickWall.png"); }

.path-field {
  background: url("../../../assets/images/game_cells/grassCenter.png"); }

.wall-field {
  background: url("../../../assets/images/game_cells/castleCenter.png"); }

.finish-field {
  background: url("../../../assets/images/game_cells/door_closedMid.png"); }

.path-field-player {
  background: url("../../../assets/images/game_cells/p1_walk01.png"), url("../../../assets/images/game_cells/grassCenter.png"); }

.finish-field-player {
  background: url("../../../assets/images/game_cells/p1_walk01.png"), url("../../../assets/images/game_cells/door_closedMid.png"); }

/*# sourceMappingURL=Cell.css.map */
