/*adding bg images to the cells*/

$minWidth: 10;
$maxWidth: 40;
$stepSize: 15px;

.mazeRow {

  div {
    display: inline-block !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;

    //todo update the max widh in the comment in accordance with the final decision
    //keeps the cells responsive to the screen size until 600px width
    @for $i from $minWidth through $maxWidth {
      @media (min-width: $i*$stepSize) {
        width: floor($i*$stepSize/15);
        height: floor($i*$stepSize/15);
      }
    }
  }

  //keeps the rows responsive to the screen size until 600px width
  @for $i from $minWidth through $maxWidth {
    @media (min-width: $i*$stepSize) {
      height: floor($i*$stepSize/15);
    }
  }
}
