#controlButtons {

  .buttonCenter {
    text-align: center;
  }

  .buttonJustify {
    text-align: center;
  }

  .moveButtons {
    @media (min-width: 10px) and (max-width: 480px) {
      display: inline-block;
      padding: 0;
      width: 25vw;
      height: 10vh;
    }
    @media (min-width: 481px) {
      display: none;
    }
  }

  .fa-chevron-down, .fa-chevron-up, .fa-chevron-left, .fa-chevron-right {
    font-size: 10vw;
    color: rgba(0, 0, 0, 0.7);
  }
}