@import "../../../global-scss/global-styles";

#rules {
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 0.5rem;

  &:hover {
    cursor: pointer;
    color: $main-color-dark;
  }
}

#rules-modal {
  #modal-header {
    border-bottom: none;
    justify-content: center;
    background-color: $main-color;
    color: #ffffff;
  }

  #modal-body {
    padding: 1rem 2rem;
    div {
      :nth-child(3) {
        text-align: center;
        padding-bottom: 1rem;
      }
    }
  }

  #modal-footer {
    justify-content: center;
    border-top: none;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
}