@import "../../../assets/scss/global-styles";

#rules {
  color: white;
  font-size: 1.4rem;
  font-weight: $global-weight;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  text-align: end;
  //to keep rules on top-end of the PlainScreen
  @media (min-width: 601px) {
    width: 600px;
    margin: auto;
  }
}