/*adding bg images to the cells*/
$bgPath: '../../../assets/images/game_cells/grassCenter.png';
$bgWall: '../../../assets/images/game_cells/castleCenter.png';
$bgEarth: '../../../assets/images/game_cells/brickWall.png';
$bgDoor: '../../../assets/images/game_cells/door_closedMid.png';
$bgPlayer: '../../../assets/images/game_cells/p1_walk01.png';

$minWidth: 4;
$maxWidth: 40;
$stepSize: 25px;

.mazeRow {
  div {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-size: contain;
    background-repeat: no-repeat;

    //keeps the cells responsive to the screen size until 800px width
    @for $i from $minWidth through $maxWidth {
      @media (min-width: $i*$stepSize) {
        width: floor($i*$stepSize/15);
        height: floor($i*$stepSize/15);
      }
    }
  }

  height: 21px;
  //keeps the rows responsive to the screen size until 800px width
  @for $i from $minWidth through $maxWidth {
    @media (min-width: $i*$stepSize) {
      height: floor($i*$stepSize/15);
    }
  }
}

.empty-field {
  background: url($bgEarth);
}

.path-field {
  background: url($bgPath);

}

.wall-field {
  background: url($bgWall);

}

.finish-field {
  background: url($bgDoor);

}

.path-field-player {
  background: url($bgPlayer), url($bgPath);

}

.finish-field-player {
  background: url($bgPlayer), url($bgDoor);

}


