#startGame {
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/intro image.png");
  background-size: contain;
  background-repeat: no-repeat;


  @media (min-width: 0) and (max-width: 399px) {
    width: 100%;
  }

  //ensured that the StartGame is always centered
  $minWidth: 40;
  $maxWidth: 200;
  $stepSize: 10px;

  @for $i from $minWidth through $maxWidth {
    @media (min-width: $i*$stepSize) {
      width: 400px;
      left: floor((($i*$stepSize)-400)/2);
    }
  }
}
