#startGame {
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/intro image.png");
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 999px) {
    #startGame {
      width: 100%; } }
  @media (min-width: 1000px) {
    #startGame {
      width: 1000px;
      left: 0px; } }
  @media (min-width: 1010px) {
    #startGame {
      width: 1000px;
      left: 5px; } }
  @media (min-width: 1020px) {
    #startGame {
      width: 1000px;
      left: 10px; } }
  @media (min-width: 1030px) {
    #startGame {
      width: 1000px;
      left: 15px; } }
  @media (min-width: 1040px) {
    #startGame {
      width: 1000px;
      left: 20px; } }
  @media (min-width: 1050px) {
    #startGame {
      width: 1000px;
      left: 25px; } }
  @media (min-width: 1060px) {
    #startGame {
      width: 1000px;
      left: 30px; } }
  @media (min-width: 1070px) {
    #startGame {
      width: 1000px;
      left: 35px; } }
  @media (min-width: 1080px) {
    #startGame {
      width: 1000px;
      left: 40px; } }
  @media (min-width: 1090px) {
    #startGame {
      width: 1000px;
      left: 45px; } }
  @media (min-width: 1100px) {
    #startGame {
      width: 1000px;
      left: 50px; } }
  @media (min-width: 1110px) {
    #startGame {
      width: 1000px;
      left: 55px; } }
  @media (min-width: 1120px) {
    #startGame {
      width: 1000px;
      left: 60px; } }
  @media (min-width: 1130px) {
    #startGame {
      width: 1000px;
      left: 65px; } }
  @media (min-width: 1140px) {
    #startGame {
      width: 1000px;
      left: 70px; } }
  @media (min-width: 1150px) {
    #startGame {
      width: 1000px;
      left: 75px; } }
  @media (min-width: 1160px) {
    #startGame {
      width: 1000px;
      left: 80px; } }
  @media (min-width: 1170px) {
    #startGame {
      width: 1000px;
      left: 85px; } }
  @media (min-width: 1180px) {
    #startGame {
      width: 1000px;
      left: 90px; } }
  @media (min-width: 1190px) {
    #startGame {
      width: 1000px;
      left: 95px; } }
  @media (min-width: 1200px) {
    #startGame {
      width: 1000px;
      left: 100px; } }
  @media (min-width: 1210px) {
    #startGame {
      width: 1000px;
      left: 105px; } }
  @media (min-width: 1220px) {
    #startGame {
      width: 1000px;
      left: 110px; } }
  @media (min-width: 1230px) {
    #startGame {
      width: 1000px;
      left: 115px; } }
  @media (min-width: 1240px) {
    #startGame {
      width: 1000px;
      left: 120px; } }
  @media (min-width: 1250px) {
    #startGame {
      width: 1000px;
      left: 125px; } }
  @media (min-width: 1260px) {
    #startGame {
      width: 1000px;
      left: 130px; } }
  @media (min-width: 1270px) {
    #startGame {
      width: 1000px;
      left: 135px; } }
  @media (min-width: 1280px) {
    #startGame {
      width: 1000px;
      left: 140px; } }
  @media (min-width: 1290px) {
    #startGame {
      width: 1000px;
      left: 145px; } }
  @media (min-width: 1300px) {
    #startGame {
      width: 1000px;
      left: 150px; } }
  @media (min-width: 1310px) {
    #startGame {
      width: 1000px;
      left: 155px; } }
  @media (min-width: 1320px) {
    #startGame {
      width: 1000px;
      left: 160px; } }
  @media (min-width: 1330px) {
    #startGame {
      width: 1000px;
      left: 165px; } }
  @media (min-width: 1340px) {
    #startGame {
      width: 1000px;
      left: 170px; } }
  @media (min-width: 1350px) {
    #startGame {
      width: 1000px;
      left: 175px; } }
  @media (min-width: 1360px) {
    #startGame {
      width: 1000px;
      left: 180px; } }
  @media (min-width: 1370px) {
    #startGame {
      width: 1000px;
      left: 185px; } }
  @media (min-width: 1380px) {
    #startGame {
      width: 1000px;
      left: 190px; } }
  @media (min-width: 1390px) {
    #startGame {
      width: 1000px;
      left: 195px; } }
  @media (min-width: 1400px) {
    #startGame {
      width: 1000px;
      left: 200px; } }
  @media (min-width: 1410px) {
    #startGame {
      width: 1000px;
      left: 205px; } }
  @media (min-width: 1420px) {
    #startGame {
      width: 1000px;
      left: 210px; } }
  @media (min-width: 1430px) {
    #startGame {
      width: 1000px;
      left: 215px; } }
  @media (min-width: 1440px) {
    #startGame {
      width: 1000px;
      left: 220px; } }
  @media (min-width: 1450px) {
    #startGame {
      width: 1000px;
      left: 225px; } }
  @media (min-width: 1460px) {
    #startGame {
      width: 1000px;
      left: 230px; } }
  @media (min-width: 1470px) {
    #startGame {
      width: 1000px;
      left: 235px; } }
  @media (min-width: 1480px) {
    #startGame {
      width: 1000px;
      left: 240px; } }
  @media (min-width: 1490px) {
    #startGame {
      width: 1000px;
      left: 245px; } }
  @media (min-width: 1500px) {
    #startGame {
      width: 1000px;
      left: 250px; } }
  @media (min-width: 1510px) {
    #startGame {
      width: 1000px;
      left: 255px; } }
  @media (min-width: 1520px) {
    #startGame {
      width: 1000px;
      left: 260px; } }
  @media (min-width: 1530px) {
    #startGame {
      width: 1000px;
      left: 265px; } }
  @media (min-width: 1540px) {
    #startGame {
      width: 1000px;
      left: 270px; } }
  @media (min-width: 1550px) {
    #startGame {
      width: 1000px;
      left: 275px; } }
  @media (min-width: 1560px) {
    #startGame {
      width: 1000px;
      left: 280px; } }
  @media (min-width: 1570px) {
    #startGame {
      width: 1000px;
      left: 285px; } }
  @media (min-width: 1580px) {
    #startGame {
      width: 1000px;
      left: 290px; } }
  @media (min-width: 1590px) {
    #startGame {
      width: 1000px;
      left: 295px; } }
  @media (min-width: 1600px) {
    #startGame {
      width: 1000px;
      left: 300px; } }
  @media (min-width: 1610px) {
    #startGame {
      width: 1000px;
      left: 305px; } }
  @media (min-width: 1620px) {
    #startGame {
      width: 1000px;
      left: 310px; } }
  @media (min-width: 1630px) {
    #startGame {
      width: 1000px;
      left: 315px; } }
  @media (min-width: 1640px) {
    #startGame {
      width: 1000px;
      left: 320px; } }
  @media (min-width: 1650px) {
    #startGame {
      width: 1000px;
      left: 325px; } }
  @media (min-width: 1660px) {
    #startGame {
      width: 1000px;
      left: 330px; } }
  @media (min-width: 1670px) {
    #startGame {
      width: 1000px;
      left: 335px; } }
  @media (min-width: 1680px) {
    #startGame {
      width: 1000px;
      left: 340px; } }
  @media (min-width: 1690px) {
    #startGame {
      width: 1000px;
      left: 345px; } }
  @media (min-width: 1700px) {
    #startGame {
      width: 1000px;
      left: 350px; } }
  @media (min-width: 1710px) {
    #startGame {
      width: 1000px;
      left: 355px; } }
  @media (min-width: 1720px) {
    #startGame {
      width: 1000px;
      left: 360px; } }
  @media (min-width: 1730px) {
    #startGame {
      width: 1000px;
      left: 365px; } }
  @media (min-width: 1740px) {
    #startGame {
      width: 1000px;
      left: 370px; } }
  @media (min-width: 1750px) {
    #startGame {
      width: 1000px;
      left: 375px; } }
  @media (min-width: 1760px) {
    #startGame {
      width: 1000px;
      left: 380px; } }
  @media (min-width: 1770px) {
    #startGame {
      width: 1000px;
      left: 385px; } }
  @media (min-width: 1780px) {
    #startGame {
      width: 1000px;
      left: 390px; } }
  @media (min-width: 1790px) {
    #startGame {
      width: 1000px;
      left: 395px; } }
  @media (min-width: 1800px) {
    #startGame {
      width: 1000px;
      left: 400px; } }
  @media (min-width: 1810px) {
    #startGame {
      width: 1000px;
      left: 405px; } }
  @media (min-width: 1820px) {
    #startGame {
      width: 1000px;
      left: 410px; } }
  @media (min-width: 1830px) {
    #startGame {
      width: 1000px;
      left: 415px; } }
  @media (min-width: 1840px) {
    #startGame {
      width: 1000px;
      left: 420px; } }
  @media (min-width: 1850px) {
    #startGame {
      width: 1000px;
      left: 425px; } }
  @media (min-width: 1860px) {
    #startGame {
      width: 1000px;
      left: 430px; } }
  @media (min-width: 1870px) {
    #startGame {
      width: 1000px;
      left: 435px; } }
  @media (min-width: 1880px) {
    #startGame {
      width: 1000px;
      left: 440px; } }
  @media (min-width: 1890px) {
    #startGame {
      width: 1000px;
      left: 445px; } }
  @media (min-width: 1900px) {
    #startGame {
      width: 1000px;
      left: 450px; } }
  @media (min-width: 1910px) {
    #startGame {
      width: 1000px;
      left: 455px; } }
  @media (min-width: 1920px) {
    #startGame {
      width: 1000px;
      left: 460px; } }
  @media (min-width: 1930px) {
    #startGame {
      width: 1000px;
      left: 465px; } }
  @media (min-width: 1940px) {
    #startGame {
      width: 1000px;
      left: 470px; } }
  @media (min-width: 1950px) {
    #startGame {
      width: 1000px;
      left: 475px; } }
  @media (min-width: 1960px) {
    #startGame {
      width: 1000px;
      left: 480px; } }
  @media (min-width: 1970px) {
    #startGame {
      width: 1000px;
      left: 485px; } }
  @media (min-width: 1980px) {
    #startGame {
      width: 1000px;
      left: 490px; } }
  @media (min-width: 1990px) {
    #startGame {
      width: 1000px;
      left: 495px; } }
  @media (min-width: 2000px) {
    #startGame {
      width: 1000px;
      left: 500px; } }

/*# sourceMappingURL=StartGame.css.map */
