#startGame {
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/intro image.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 999px) {
    width: 100%;
  }

  //ensured that the StartGame is always centered
  $minWidth: 100;
  $maxWidth: 200;
  $stepSize: 10px;

  @for $i from $minWidth through $maxWidth {
    @media (min-width: $i*$stepSize) {
      width: 1000px;
      left: floor((($i*$stepSize)-1000)/2);
    }
  }
}
