html {
    font-size: 12px;
    background-color: #333333;

}

body {
    margin: 0;
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

