@import "../../../../assets/scss/global-styles";

.level-button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  background-color: $main-color;
  font-weight: $global-weight;
  padding: 0.7rem 1.4rem;
  border-radius: 4px;
  color: #ececec;

  &.next-button {
    background-color: $button-next;
    &:hover {
      background-color: $button-next-dark;
    }
  }

  &.disabled {
    background-color: $button-disabled;
    &:hover {
      background-color: $button-disabled-dark;
    }
  }

  &:hover {
    background-color: $main-color-dark;
    cursor: pointer;
  }
}