@import "../../../../global-scss/global-styles";

.level-button {

  &.next-button {
    background-color: $button-next;

    &:hover {
      background-color: $button-next-dark;
    }
  }

  &.disabled-button {
    background-color: $button-disabled;

    &:hover {
      background-color: $button-disabled-dark;
    }
  }
}