@import "../../global scss/global-styles";

#maze-footer {
  margin: 1.5rem auto;
  position: relative;
  @media (min-width: 601px) {
    max-width: 600px;
  }

  #time-tracker {
    color: white;
    text-align: center;
  }

  //shows the keys in the same line as the timer
  #user-bag {
    position: absolute;
    margin-right: 1rem;
    right: 0;
    top: 0.2rem;

    .keys {
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      width: 2rem;
      height: 2rem;
      margin-right: 0.3rem;
      @media (min-width: 0) and (max-width: 400px) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

