@import "../../../../assets/scss/global-styles";

#control-buttons {
  margin-top: 2.5rem;
  .button-center {
    text-align: center;
  }

  .move-buttons {
    background-color: $main-color;
    border-color: transparent;
    @media (min-width: 0) and (max-width: 1024px) {
      display: inline-block;
      padding: 0;
      width: 22vw;
      height: 8vh;
    }
    @media (min-width: 1025px) {
      display: none;
    }
  }

  .fa-chevron-down, .fa-chevron-up, .fa-chevron-left, .fa-chevron-right {
    font-size: 10vw;
    color: rgba(255, 255, 255, 0.8);
  }
}