@import "../../../../global scss/global-styles";

#control-buttons {
  text-align: center;

  .move-buttons {
    background-color: $main-color;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0 1px 2px #46a27a;
    margin: 0 1rem;
    border-radius: 4px;
    display: inline-block;
    width: 12vw;
    height: 12vw;

    //centering the arrows on the buttons
    @media (min-width: 0){
      padding-top: 0.2rem;
    }
    @media (min-width: 580px) {
      padding-top: 0.3rem;
    }
    @media (min-width: 800px) {
      padding-top: 0.4rem;
    }
    @media (min-width: 900px) {
      padding-top: 0.5rem;
    }
  }

  .fa-chevron-down, .fa-chevron-up, .fa-chevron-left, .fa-chevron-right {
    font-size: 10vw;
    color: rgba(255, 255, 255, 0.8);
  }
}