.noXPaddings {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.noxMargins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.containerPaddingTop {
  padding-top: 24px;
}

.gameContainer {
  background-color: black;
  text-align: center;
  padding: 20px 0;
}

#playerWon {
  color: white;
}

#gameLayers {
  position: relative;

}
